[submodule "Task 2/lib/openzeppelin-contracts"]
	path = Task 2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Task 2/lib/forge-std"]
	path = Task 2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
